<div class="backgroundPizzaDetails">
<h1> Pizza Recepie </h1>
<h1>{{name}}</h1> 

<a  class="btn btn-success" href="/papaPizza">back</a>
<section class="pizza's-detail">
 



<p>Type: {{tags}}</p>
<img class="linkImage" src="{{this.imagesUrl}}" alt="{{this.name}}">
<ol>Toppings:
{{#each toppings}}
<li>{{this}}</li>
{{/each}}
</ol><br>
<ol> Sauce:
{{#each sauce}}
<li>{{this}}</li>
{{/each}}
</ol> <br>
<p>Sauce: {{sauces}}</p>
<p>Dough: {{dough}}</p>

<ol>BaseCheese:
{{#each baseCheese}}
<li>{{this}}</li>
{{/each}}
</ol><br>
<p>Details: {{details}}</p>
</section>
</div>