<div class="backgroundCreatePizza ">
    <h2 class="createPizzabox">Edit a pizza</h2>

    <form action="/papaPizza/{{pizzaArr._id}}/edit" method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <h5 class="col createPizzabox"> Rename your Pizza:<input type="text" name="name"
                        value="{{pizzaArr.name}}" />
                    <h5>

                        </label>
            </div>

            <div class="col createPizzabox">
                <label>
                    <h5> Rename what kind of pizza you have</h5>
                    <input type="text" name="tags" value="{{pizzaArr.tags}}" />
                </label>
            </div>

            <div class="col createPizzabox">
                <h5>Add a Picture</h5>
                <input type="file" name="pizza-cover-image" accept="image/png, image/jpg" /value={{pizzaArr.imagesUrl}}>
            </div>
            <div class="container">
                <div class="row ">

                    <label class="col createPizzabox">
                        <h3>type of dough: </h3>
                        <select name="dough">
                            <option class="whiteText" value="neapolitian"> Neapolitian (normal pizza dough)</option>
                            <option class="whiteText" value="gluten free"> Gluten free pizza dough</option>
                            <option class="whiteText" value="vegie dough"> Vegie dough</option>
                        </select>
                    </label>



                    <div class=" col createPizzabox">
                        <h3>sauce base:</h3>
                        <p>Choose 1 or more sauces for your pizza</p>

                        <div>
                            <input type="checkbox" class="whiteText" id="sauce1" name="sauces" value="tomato sauce"
                                checked>
                            <label for="sauces"> i want pizza tomato sauce</label><br>
                            <input type="checkbox" class="whiteText" id="sauce2" name="sauces" value="crême fresh">
                            <label for="sauces"> i want pizza crême freshs</label><br>
                            <input type="checkbox" class="whiteText" id="sauce3" name="sauces" value="barbecue sauce">
                            <label for="sauces"> i want pizza barbecue sauce</label><br>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row ">


                            <div class="col createPizzabox">
                                <h3>Toppings:</h3>
                                <p>Choose your Toppings:</p>

                                {{#each ingredientsArr}}
                                <input type="checkbox" class="toppings whiteText" name="toppings" value="{{this._id}}">
                                <label for="toppings"> add {{this.name}} </label><br>
                                {{/each}}
                            </div>

                            <div class="col createPizzabox">
                                <h3>Cheese</h3>
                                <p> Create your cheese base:</p>

                                {{#each enumCheeseArr}}
                                <input type="checkbox" class="baseCheese whiteText" name="baseCheese" value="{{this}}">
                                <label for="baseCheese"> add {{this}} </label><br>
                                {{/each}}
                            </div>
                            <div class="container">
                                <div class="row ">

                                    <div class="col createPizzabox">
                                        <label>
                                            Details:<br>
                                            <textarea name="details" cols="40" rows="3"> {{details}}</textarea>
                                        </label>
                                    </div>
                                    <div class="col createPizzabox">
                                        <button class="bigButton btn btn-success" type="submit"> Save changes </button>
                                    </div>
                                </div>
                        
                    
    </form>
</div>
</div>