<h1> Pizza Recepie for{{this.name}}</h1>

<a href="/papaPizza">back</a>
<section class="pizza's-detail">
<p>{{this.type}}</p>
<p>{{this.toppings}}</p>
<p>{{this.sauce}}</p>
<p>{{this.dough}}</p>
<p>{{this.details}}</p>
</section>