<h1> Pizza Recepie for {{name}}</h1>


<a href="/papaPizza">back</a>
<section class="pizza's-detail">
<p>{{tags}}</p><br>
<p>{{toppings}}</p><br>
<p>{{sauces}}</p><br>
<p>{{dough}}</p><br>
<p>{{baseCheese}}</p><br>
<p>{{details}}</p><br>
</section>