<div class="backgroundlist">
    <h1 class="opacityBoxSlim"> pizza's in our PapaPizza database</h1>

    </section>
    <div class="pizzasListBox row">
        {{#each pizzas}}
        <div class=" pizzasListRow col opacityBoxSlim">
            <p class="whiteText">
                <img class="linkImage" src="{{this.imagesUrl}}" alt="{{this.name}}">
                <br> 
                {{this.name}}
            </p>
            <p class="whiteText">{{this.tags}}</p>
            <a class="linkColor" href="/papaPizza/{{this._id}}">more details</a>
        </div>
        {{/each}}
    </div>
</div>