<div class="backgroundPizzaDetails">
    <h3 class="text-center opacityBoxSlim"><a class="btn btn-success" href="/papaPizza">back
            to List</a> Pizza Recepie for {{name}} </h3>

    <section class="pizza's-detail">
        <div class="container">
            <div class="row">
                <div class="col opacityBox">



                    <img class="linkImage" src="{{this.imagesUrl}}" alt="{{this.name}}">
                    <p> Type: {{tags}}</p>

                    <ol> Sauce:
                        {{#each sauces}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ol>
                    <p>Dough: {{dough}}</p>

                    <ol>BaseCheese:
                        {{#each baseCheese}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ol><br>

                </div>
                <div class="col opacityBox">
                    <ol>Toppings:
                        {{#each toppings}}
                        <li>{{this.name}}</li>
                        {{/each}}
                    </ol><br>
                </div>

            </div>
            <div class="row opacityBox">
                <div class="col-sm-8 ">
                    <p>Details: {{this.details}}</p>
                </div>
                <div class="col-sm ">
                <button class="btn btn-warning"><a href="/papaPizza/{{_id}}/edit">edit </a></button>
                </div>

                <div class="col-sm ">
                    <form action="/papaPizza/{{_id}}/delete" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
</div>
</section>
</div>